.container {
  display: flex;
  flex-direction: column;
  /* background-color: #95a5a6; */
  width: 50%;
  margin: auto;
  align-items: center;
}

.heading {
  font-size: 4rem;
  font-weight: bolder;
  color: #34495e;
}

.listItem {
  list-style: none;
  text-transform: capitalize;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 1rem;
  background: #f9fafb;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
  transition: 0.05s ease-in-out;
  text-decoration: none;
  color: #222222;
}

.listItem:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.btns {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  /* display: flex; */
  height: 100%;
  width: 100%;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  border: none;
  padding: 1.2rem;
  margin: 1rem;
  border: 1px solid #d3d3d3;
  background: #f9fafb;
  justify-content: center;
  border-radius: 999px;
  transition: 0.05s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .listItem {
    width: 100%;
  }

  .btns {
    width: 90%;
  }
}
